{% extends 'base.html' %}
{% load static %} 
{% load seekers_extras %}

{% block nameOfTab %}
<title>Add Skills</title>
{% endblock %}

{% block header %}
<div class="container">
    <h1>Add a Skill to Your Listing</h1>
</div>
{% endblock  %}

{% block firstSection %}

<form action= "{{ request.get_full_path }}" method='POST'>
    <div class="container" style="border:1px solid #ccc">
        <h4>For the job listing {{Listing.listing_job_title}} at {{Listing.posted_by.org}}</h4>
        <hr>

        {% csrf_token %}

        {% for field in form %}
            {{ field.label_tag}}
            {{ field }}
            {{ field.errors }}
            <br>
        {% endfor %}

        {% if OtherSkills is not None %}
            <h6>These are the other skills associated with this listing:</h6>
            {% for skill in OtherSkills  %}
                <p>{{skill.skill.skill_name|title}} - Skill Level: {{skill.level|returnRating}} -  {% if skill.is_required %}Required{% else %}Preferred{% endif %}</p>
            {% endfor %}
        {% else %}
        <h6>There are no other skills associated with this listing!</h6>
        {% endif %}

        <div class="clearfix">
            {% if 'addSkill' in request.path %}
            <button type="submit" class="btn btn-primary" name="postJob">Add Skill</button>
            {% endif %}
            {% if 'editSkill' in request.path %}
            <button type="submit" class="btn btn-primary" name="saveChanges">Save Changes </button>
            {% endif %}
            {% if 'deleteSkill' in request.path %}
            <button type="submit" class="btn btn-primary" name="deleteJob">Delete Listing</button>
            {% endif %}
            <a href="{% url 'Recruiters:EditListing' ListingID=Listing %}"><button type="button" class="btn btn-primary">Cancel</button></a>
        </div>
    </div>
</form>

{% endblock  %}