{% extends 'base.html' %}
{% load static %}

{% block nameOfTab %}
<title>About Us</title>
{% endblock %}

{% block header %}
<div class="container">
    <h1>About Black Cyber Recruiter</h1>

</div>
{% endblock %}



{% block firstSection %}
<div class="container">
    <h3>Background</h3>
    <p>The proposed Black Cyber Recruiter (BCR) website will be dedicated to promoting diversity and
        inclusion in America’s employment by connecting the Black community with employers who
        foster equal opportunity as part of their corporate policies.</p>
    <p>Employers often try to find diverse pockets of qualified job candidates by recruiting with a focus
        on diversity, equity, and inclusion (DEI). There are employer standard practices that put Black
        students at a disadvantage when trying to fill that specific target segment of recruiting goals.</p>
    <p>Job inequality continues to plague Blacks in the US. In October 2020, the US unemployment rate
        for Whites was 6% compared to that of Blacks of 10.8%.</p>
    
    <div>
        <p>In a 2020 study by Handshake, an app that connects students on college campuses with open
            positions, it was found that:
        </p>
        <ul>GPA cut-offs exclude a large percentage of Black students from being able to apply
            for jobs. Of students submitting applications, 57% were non-Black students and 40%
            were Black students. In fact, Handshake went on to say that "Last year we first reported
            that GPA isn’t an accurate predictor of performance and what attributes employers should
            look for instead."
            </ul>
        <ul>Rigid recruiting windows give little time for students to prepare and perfect their
            resumes and job applications. Handshake reported that "… Black students don’t have the
            same opportunities to iterate on their resumes, cover letters, transcripts, and letters of
            recommendation within the three week window when applications are typically open
            during the fall and spring” due to tending “to have more on their plates than their peers.”</ul>
        <ul>Nontransparent applications discourage Black students from applying. By clarifying
            compensation and reducing documentation beyond the resume, 13% more Blacks will
            submit job applications and if relocation assistance is provided, 36% more Blacks will
            apply.
            </ul>
    </div>

    <p>The BCR website hopes to provide a platform to connect Blacks to companies that are interested
        in increasing Black diversity in their workforce by addressing the three problems stated above.
    </p>
    
    <img src="{% static 'img/blackUnemploymentRate.png' %}" alt="Black Unemployment Rate">
</div>
{% endblock %}
{% block secondSection %}
{% endblock %}