{% extends 'base.html' %}
{% load static %}

{% block nameOfTab %}
<title>Job Listings</title>
{% endblock %}

{% block header %}
<div class="container" >
    <h1 style="align-self: center;">Job Listings</h1>
        <div class="form-row">
          <div class="col-12 col-md-9 mb-2 mb-md-0">

            <form  action="{% url 'Seekers:SearchBar' SearchString='intern' %}" method='GET'>
              <input type="text" name='search' id='search' class="form-control form-control-lg" placeholder="Search by job title, location, company...">
              <button type="submit" class="btn btn-block btn-lg btn-primary" id='search_submit'>Search</button>
            </form>
         
          </div>
          <div class="col-12 col-md-3">
          
          </div>
        </div>
</div>

<br>

{% endblock %}

{% block firstSection %}
<!-- Page Content -->

<!-- If statement here to check if a related job was found. Do not display div if nothing was found.-->
<div class="container">

{% if error is not None %}
<h3>{{ error }}</h3>
<h5>{{ errorjob.listing.posted_by.org }}</h5>
<h5>{{ errorjob.listing.listing_job_title }}</h5>
<h5>{{ errorjob.date_applied }}</h5>
{% endif %}

  {% for job in listings %}
    <!-- Project One -->
    <div class="row rowForJobListings" style="border:groove black">
      <div class="col-md-5">
          <h3>Job Title: {{ job.listing_job_title }}</h3>
          <h3>Company: {{ job.posted_by.org }}</h3>
          <h3>Location: {{ job.location }}</h3>
      </div>
      <div class="col-md-7">
        <h3>Summary</h3>
        <p>{{ job.job_description }}</p>
        {% if perms.seekers.is_seeker %}
          <a class="btn btn-primary" href="{% url 'Seekers:Application' ListingID=job.pk %}">Apply</a>
        {% elif perms.recruiters.is_recruiter %}
          <a class="btn btn-primary" href="#">View Applicants</a>
        {% elif user.is_anonymous %}
          <a class="btn btn-primary" href="{% url 'Seekers:Login' %}">Login to Apply!</a>
        {% endif %}
      </div>
    </div>
    <!-- /.row -->
    <hr>
  {% endfor %}
</div>
{% endblock %}

{% block secondSection %}
{% endblock %}
