{% extends 'base.html' %}
{% load static %}

{% block nameOfTab %}
<title>Job Listings</title>
{% endblock %}

{% block header %}
<div class="container" >
    <h1 style="align-self: center;">Job Listings</h1>
    <form>
        <div class="form-row">
          <div class="col-12 col-md-9 mb-2 mb-md-0">
            <input type="email" class="form-control form-control-lg" placeholder="Search by job title, location, company...">
          </div>
          <div class="col-12 col-md-3">
            <button type="submit" class="btn btn-block btn-lg btn-primary">Search</button>
          </div>
        </div>
      </form>
</div>

<br>

{% endblock %}

{% block firstSection %}
<!-- Page Content -->
<div class="container">


    <!-- Project One -->
    <div class="row rowForJobListings" style="border:groove black">
      <div class="col-md-5">
          <h3>Job Title:</h3>
          <h3>Company:</h3>
          <h3>Location:</h3>
      </div>
      <div class="col-md-7">
        <h3>Summary</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium veniam exercitationem expedita laborum at voluptate. Labore, voluptates totam at aut nemo deserunt rem magni pariatur quos perspiciatis atque eveniet unde.</p>
        <a class="btn btn-primary" href="#">Apply</a>
      </div>
    </div>
    <!-- /.row -->

    <hr>

    <!-- Project Two -->
    <div class="row rowForJobListings" style="border:groove black">
        <div class="col-md-5">
            <h3>Job Title:</h3>
            <h3>Company:</h3>
            <h3>Location:</h3>
        </div>
        <div class="col-md-7">
          <h3>Summary</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium veniam exercitationem expedita laborum at voluptate. Labore, voluptates totam at aut nemo deserunt rem magni pariatur quos perspiciatis atque eveniet unde.</p>
          <a class="btn btn-primary" href="#">Apply</a>
        </div>
      </div>
    <!-- /.row -->

    <hr>

    <!-- Project Three -->
    <div class="row rowForJobListings" style="border:groove black">
        <div class="col-md-5">
            <h3>Job Title:</h3>
            <h3>Company:</h3>
            <h3>Location:</h3>
        </div>
        <div class="col-md-7">
          <h3>Summary</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium veniam exercitationem expedita laborum at voluptate. Labore, voluptates totam at aut nemo deserunt rem magni pariatur quos perspiciatis atque eveniet unde.</p>
          <a class="btn btn-primary" href="#">Apply</a>
        </div>
      </div>
    <!-- /.row -->

    <hr>

    <!-- Project Four -->
    <div class="row rowForJobListings" style="border:groove black">
        <div class="col-md-5">
            <h3>Job Title:</h3>
            <h3>Company:</h3>
            <h3>Location:</h3>
        </div>
        <div class="col-md-7">
          <h3>Summary</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium veniam exercitationem expedita laborum at voluptate. Labore, voluptates totam at aut nemo deserunt rem magni pariatur quos perspiciatis atque eveniet unde.</p>
          <a class="btn btn-primary" href="#">Apply</a>
        </div>
      </div>
    <!-- /.row -->

    <hr>

    <!-- Project Five -->
    <div class="row rowForJobListings" style="border:groove black">
        <div class="col-md-5">
            <h3>Job Title:</h3>
            <h3>Company:</h3>
            <h3>Location:</h3>
        </div>
        <div class="col-md-7">
          <h3>Summary</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium veniam exercitationem expedita laborum at voluptate. Labore, voluptates totam at aut nemo deserunt rem magni pariatur quos perspiciatis atque eveniet unde.</p>
          <a class="btn btn-primary" href="#">Apply</a>
        </div>
      </div>
    <!-- /.row -->
{% endblock %}
